@model HGFamilyMemberOverviewModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using HGenealogy.Models.HGFamilyMember
@{
    //prepare "Add to Pedigree" AJAX link
    //string addtopedigreelink = "";

    //我關注的成員
    //var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });

}
<div class="familymember-item" data-familymemberid="@Model.Id">
    <div class="picture">
        <a href="@Url.RouteUrl("FamilyMemberDetails", new { familymemberid = Model.Id })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <div class="details">
        <h2 class="product-title">
            <a href="@Url.RouteUrl("FamilyMemberDetails", new { familymemberid = Model.Id })">@Model.FamilyName  @Model.GivenName</a>
        </h2>
        <div class="description">
            @Html.Raw(Model.Description)
        </div>
        <div class="add-info">
            <div class="buttons">
                <input type="button" value="@T("AddToPedigree")" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('AddToPedigree'); return false;" />
                <input type="button" value="@T("AddToWishlist")" title="@T("AddToWishlist")" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('addtowishlistlink');return false;" />
            </div>
        </div>
    </div>
</div>

