<ul class="top-menu">
    @Html.Widget("header_menu_before")
    <li><a href="@Url.RouteUrl("HomePage")">@T("首頁")</a></li>

    <li>
        <a href="@Url.RouteUrl("HGPedigree")">@T("族譜")</a>
    </li>

    <li>
        <a href="@Url.RouteUrl("FamilyMemberOverview")">@T("家族世系")</a>
    </li>

    <li>
        <a href="@Url.RouteUrl("HGPedigree")">@T("世系圖")</a>
    </li>
 
    @*<li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>*@
    @*<li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>*@

    if (Model.ForumEnabled)
    {
    <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
    }
    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    @Html.Widget("header_menu_after")
</ul>
