@model FamilyMemberDetailsModel
@using HGenealogy.Models.HGFamilyMembers
@using HGenealogy.Services
@{
    //@*Layout = "~/Views/Shared/_ColumnsTwo.cshtml";*@

    //title
    Html.AddTitleParts(T("家族成員詳細").Text);
}

<!--familymember breadcrumb-->
@section Breadcrumb
{
    @Html.Partial("_FamilyMemberBreadcrumb", Model.Breadcrumb)
}
<div class="page familymember-page">

    <div class="page-title">
        <h1>家族成員詳細</h1>
    </div>

    <div class="page-body">
        @using (Html.BeginRouteForm("FamilyMemberDetails", new { SeName = Model.GivenName }, FormMethod.Post, new { id = "familymember-details-form" }))
        {
            <div itemscope data-productid="@Model.Id">
                <div class="familymember-essential">
                    <!--familymember pictures-->
                    @Html.Partial("_FamilyMemberDetailsPictures", Model)
                    <div class="overview">
                        @*@Html.Partial("_Discontinued", Model)*@
                        <div class="familymember-name">
                            <h1 itemprop="name">
                                @Model.FamilyName @Model.GivenName
                            </h1>
                        </div>
                        @if (!String.IsNullOrEmpty(Model.Description))
                        {
                            <div class="description">
                                @Html.Raw(Model.Description)
                            </div>
                        }

                        <div class="dateofbirth">
                            @Html.LabelFor(model => model.DateOfBirth, new { }, ":")
                            @Model.DateOfBirth
                        </div>

                        <div class="GenerationNo">
                            @Html.LabelFor(model => model.GenerationNo, new { }, ":")
                            @Model.GenerationNo
                        </div>

                        <div class="Email">
                            @Html.LabelFor(model => model.Email, new { }, ":")
                            @Model.Email
                        </div>

                        <div class="MobilePhone">
                            @Html.LabelFor(model => model.MobilePhone, new { }, ":")
                            @Model.MobilePhone
                        </div>

                        <div class="Gender">
                            @Html.LabelFor(model => model.Gender, new { }, ":")
                            @Model.Gender
                        </div>

                        <div class="JobDescription">
                            @Html.LabelFor(model => model.JobDescription, new { }, ":")
                            @Model.JobDescription
                        </div>

                        <!--FatherMember-->
                        @Html.Partial("_FamilyMemberBox", Model.FatherMember)

                        <!--MotherMember-->
                        @Html.Partial("_FamilyMemberBox", Model.MotherMember)
                    </div>
                </div>

                @Html.Action("RelatedFamilyMembers", "HGFamilyMembers", new { familymemberId = Model.Id })
            </div>
        }
    </div>

</div>
